
<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico">

  <link href="http://bootswatch.com/superhero/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">

</head>



<body>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
        $("#link").attr('value',document.URL);
      })
      TB.addEventListener("exception", exceptionHandler);
        var session = TB.initSession("{{session_id}}"); 
        session.addEventListener("sessionConnected", sessionConnectedHandler);
        session.addEventListener("streamCreated", streamCreatedHandler);
        session.connect({{api_key}}, "{{token}}"); 

        function sessionConnectedHandler(event) {
         subscribeToStreams(event.streams);
         session.publish();
       }

       function streamCreatedHandler(event) {
        subscribeToStreams(event.streams);
      }

      function subscribeToStreams(streams) {
        for (var i = 0; i < streams.length; i++) {
          var stream = streams[i];
          console.log(stream.connection.connectionId+"&"+session.connection.connectionId);
          if ((stream.connection.connectionId != session.connection.connectionId)) {
            session.subscribe(stream);
          }
        }
      }

      function exceptionHandler(event) {
        alert(event.message);
      }
    </script>

    <div class="jumbotron">
      <h1>Hack Mafia!</h1>
      <p>Share this link with your friends:</p>

    <div class="form-group">
      <div>
        <center><textarea class="form-control" rows="2" id="textArea" style = 'width: 300px'></textarea>
      </div> </center>
      <button type="button" class="btn btn-primary btn-lg" value='Send Email'>Invite Your Friends</button>

    </div> 
       <script src="./static/js/jqstuffdoe.js"></script>
       <script src="./static/js/bootstrap.min.js"></script>
       <script src="./static/js/docs.min.js"></script>
     </body>

   </html>
